server {
    listen   80;
    server_name www.tasks-scheduler.com tasks-scheduler.com;

    access_log /var/log/nginx/tasks-scheduler.com-access.log;
    error_log /var/log/nginx/tasks-scheduler.com-error.log;

    root /var/www/html/scheduler/app/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
            try_files $uri /index.php =404;
            fastcgi_pass unix:/var/run/php5-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
    }
}
